h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .container .navigation {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* ========== COMPONENTS ========== */
.logo-element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.works__header,
.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

/* ======== END COMPONENTS ======== */
/* ========== HEADER ========== */
.header {
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 16px 0;
    display: flex;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: none;
}

@media screen and (min-width: 480px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__list-item .active {
  color: var(--accent-color);
}

.navigation__list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;
}

.navigation__list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list-link:hover, .navigation__list-link:focus {
  color: var(--accent-color);
}

.address__list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list-link:hover, .address__list-link:focus {
  color: var(--accent-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

.address__list {
  display: flex;
}

@media screen and (max-width: 480px) {
  .address__list {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .address__list {
    flex-direction: column;
  }
}

.address__list-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 481px) {
  .address__list-item:not(:last-child) {
    margin-right: 0;
  }
}

.address__list-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.address__list-svg {
  display: inline-block;
  align-items: center;
  background-size: contain;
  background-position: center;
  margin-right: 10px;
  fill: var(--text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list-link:hover .address__list-svg,
.address__list-link:focus .address__list-svg {
  fill: var(--accent-color);
}

.item {
  display: block;
  position: relative;
}

.navigation__list-underline {
  position: absolute;
  bottom: -41px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu__mobile-btn {
  display: block;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 481px) {
  .menu__mobile-btn {
    display: none;
  }
}

.hero__modalbtn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--hero-color);
}

.hero__modalbtn:hover, .hero__modalbtn:focus {
  border-color: var(--accent-color);
}

.hero__modalbtn-svg {
  width: 11px;
  height: 11px;
  fill: var(--headers-color);
}

.hero__modalbtn:hover .hero__modalbtn-svg,
.hero__modalbtn:focus .hero__modalbtn-svg {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ========== END HEADER ========== */
.menu__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 796px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .menu__mobile {
    display: none;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social__list-mobile {
  display: flex;
  margin-top: 64px;
}

.menu__mobile .hero__modalbtn {
  position: absolute;
  top: 21px;
  right: 25px;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--hero-color);
}

.navigation__list-mobile .navigation__list-item:not(:last-child) {
  margin-bottom: 35px;
}

.navigation__list-mobile .navigation__list-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.address__list-mobile .address__list-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.address__menu-color {
  color: #2196f3;
}

.address__list-mobile .address__menu-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.social__list-mobile-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social__list-mobile-link:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
}

/* ========== PROJECTS ========== */
.projects {
  padding-top: 66px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.projects__list-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .projects__list-item:nth-child(n + 4) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .projects__list {
    justify-content: center;
  }
}

.modal-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--headers-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-color);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list-item:not(:last-child) {
  margin-right: 8px;
}

/* ========== END PROJECTS ========== */
/* ========== WORKS ========== */
.works {
  padding-bottom: 94px;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-top: -30px;
  margin-left: -30px;
}

.works__list-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  color: var(--headers-color);
}

.works__list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 1 - 30px);
}

@media screen and (min-width: 768px) {
  .works__list-item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .works__list-item {
    width: 354px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.works__list-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.works__list-name {
  font-family: var(--main-font);
  font-style: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.works__list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works__list-link {
  display: block;
}

.works__list-link:hover, .works__list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__list-wrap {
  position: relative;
  overflow: hidden;
}

.works__list-float {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 25px;
  opacity: 0;
  background-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.works__list-link:hover .works__list-float,
.works__list-link:focus .works__list-float {
  opacity: 1;
  transform: translateY(0);
}

.works__list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--hero-color);
}

/* ========== FOOTER ========== */
.footer {
  background-color: #2f303a;
}

.footer__logo {
  display: block;
}

.footer__logo-element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}

.footer__address-wrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__address-wrapper {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address-wrapper {
    margin-right: 70px;
  }
}

.footer__address-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer__address-color);
}

.footer__address {
  margin-top: 20px;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list-link:hover, .social__list-link:focus {
  background-color: var(--accent-color);
}

.social__list-svg {
  width: 20px;
  height: 20px;
}

.social__list-link:hover .social__list-svg,
.social__list-link:focus .social__list-svg {
  fill: var(--hero-color);
}

.footer__social {
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-right: 93px;
  }
}

.footer__social-agit {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.footer__social-list {
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-svg {
  fill: var(--hero-color);
}

.footer__subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;
  height: 50px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: 20px;
}

.footer__subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.footer__subscribe-svg {
  width: 24px;
  height: 24px;
  fill: var(--hero-color);
}

.footer__subscribe-agit {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--hero-color);
}

.footer__subscribe {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-top: 0;
  }
}

/* ========== END FOOTER ========== */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --headers-color: #212121;
  --text-color: #757575;
  --hero-color: #ffffff;
  --social-color: #afb1b8;
  --about-color: #f5f4fa;
  --footer__address-color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */