/* ========== COMPONENTS ========== */
.logo-element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.works__header,
.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

/* ======== END COMPONENTS ======== */
