:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --headers-color: #212121;
  --text-color: #757575;
  --hero-color: #ffffff;
  --social-color: #afb1b8;
  --about-color: #f5f4fa;
  --footer__address-color: rgba(255, 255, 255, 0.6);
}
